:root{
    --gray: #252525;
    --dark: #D7D5C7;
    --light: #E8E6D7;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, serif;
    font-size: 1.125em;
    color: var(--gray);
}

h1 {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    color: #fff;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    background-color: var(--gray);
    width: 220px;
    padding: 6px 0;
    text-transform: lowercase;
    transform: translate(0, -30px);
}

h4 {
    font-size: 1.25em;
    font-style: italic;
    text-transform: lowercase;
}

a.button {
    margin: 60px auto;
    padding: 16px 30px;
    color: #000;
    display: table;
    border: solid 3px #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s
}

a.button:hover {
    color: #fff;
    background: #000;
    transition: 0.3s;
}

.box {
    max-width: 950px;
    margin: 0 auto;
}

/* HOME */

nav {
    background-color: var(--gray);
    padding: 20px;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    padding: 20px 6px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a::after {
    content: "";
    width: 0px;
    height: 3px;
    display: block;
    background: #fff;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
    transition: 0.3s;
}

#banner {
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover;
    padding: 150px 0;
}

#banner .box {
    width: 500px;
}

#banner p {
    color: #fff;
    text-align: center;
    font-style: italic;
}

#banner .dash {
    width: 20px;
    margin: 10px auto;
    border-bottom: solid 3px #fff;
}

/* INTRO */

#intro h2 {
    padding: 45px 0;
}

.ingredient {
    display: inline-block;
    padding: 0 6px;
}

#intro p {
    width: 420px;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    padding: 0 0 50px 0;
}

/* PRODUCTS */

#products {
    background-color: var(--light);
    border-style: solid none;
    border-width: 3px;
    border-color: var(--dark);
}

#products .box {
    margin-top: 20px;
}
.cafe {
    display: inline-block;
    width: 300px;
    padding: 6px;
}

.cafe h2 {
    padding: 18px 0;
}

.cafe h2::before {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    margin: 25px auto;
    border-radius: 50%;
    border: solid 5px var(--light);
}

.cafe h2#paulista::before {
    background: #592800;
    box-shadow: 0 0 0 8px #592800;
}

.cafe h2#carioca::before {
    background: #E97130;
    box-shadow: 0 0 0 8px #E97130;
}

.cafe h2#mineiro::before {
    background: #F2AE3F;
    box-shadow: 0 0 0 8px #F2AE3F;
}

.cafe p {
    font-size: 0.85em;
    line-height: 120%;
}

/* STORES */

#stores {
    padding: 15px 0;
}

.store {
    margin: 50px 0;
}
.store-img {
    display: inline-block;
}

.description {
    width: 30%;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
}

#stores h2 {
    text-align: left;
}

#stores p {
    padding: 15px 0;
}

#stores a.button {
    margin: 0;
    padding: 10px 15px 5px 15px;    
}

/* BOTTOM */

#subscribe {
    background: var(--light);
}

#subscribe h2 {
    text-align: left;
    text-transform: capitalize;
    display: inline-block;
}

#subscribe .box, footer .box {
    padding: 30px 0;
}

#subscribe-txt {
    display: inline-block;
}

form {
    float: right;
    width: 50%;
}

input {
    color: var(--gray);
    background-color: transparent;
    font-size: 1.25em;
    font-family: inherit;
    font-style: italic;
    width: 65%;
    border: solid 3px var(--gray);
    padding: 10px;
    box-sizing: border-box;
}

button {
    color: #fff;
    font-size: 1.25em;
    font-family: inherit;
    text-transform: uppercase;
    background-color: var(--gray);
    border: solid 3px var(--gray);
    padding: 10px 15px;
    margin-left: -6px;
    width: 35%;
    box-sizing: border-box;
    transition: 0.3s;
}

button:hover {
    color: var(--gray);
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}


footer {
    background: var(--dark);
}

footer p {
    font-size: 0.95em;
    line-height: 120%;
}

footer img {
    float: right;
}

footer a {
    text-decoration: none;
    color: var(--gray);
}

#credit {
    display: inline-block;
}